<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>크롤러</h1>

    <h2>Version</h2>
    <ul>
        <li>0.0.1 21.01.13: 제주패스 날짜검색</li>
    </ul>

    <hr>

    <h2>사용하기</h2>
    <ul>
        <li><h3>/costCompare?start={대여시작날짜}&end={대여종료날짜}</h3></li>
        <div>
            <p> 2021년 2월 9일 부터 2021년 2월 10일의 차량 가격을 긁어 오고 싶으면</p>
            <p> {대여시작날짜} 에 <strong>20210209</strong></p>
            <p> {대여종료날짜} 에 <strong>20210210</strong></p>
            <p> 를 입력한다, e.g. prival.org:3030/costCompare?start=20210209&end=20210210</p>
        </div>
    </ul>

</body>
</html>